.note > .heading, .note > .heading * {
  font-weight: bold;
  margin: 0;
}

.note > .tag.axiom .lucide {
  padding-right: 1pt;
}

.note > .tag.definition .lucide {
  padding-right: 3pt;
}

.note > .tag.example .lucide {
  padding-right: 3pt;
}

.note > .tag.corollary .lucide {
  padding-right: 2pt;
}

.note > .tag.theorem .lucide {
  padding-right: 3pt;
}

.note > .tag.proposition .lucide {
  padding-right: 2pt;
}

.note > .tag.proof {
  justify-content: space-between;
}

.note > .tag.question .lucide {
  padding-right: 3pt;
}

.note > .tag.remark .lucide {
  padding-right: 2pt;
}

.note > .tag.warning .lucide {
  padding-right: 2pt;
}

.note > .title * {
  font-size: x-large;
}

.note > .tag.title > h1 {
  display: none;
}

.note > .section, .note > .section * {
  font-size: large;
}

.note > .tag.section .lucide {
  vertical-align: sub;
  width: 1em;
  height: 1em;
  position: static;
}

.note > .tag.section > h2 {
  display: none;
}

.note > .tag.subsection > h3 {
  display: none;
}

.note > .tag.subsection .lucide {
  vertical-align: sub;
  width: 1em;
  height: 1em;
  position: static;
}

.note > dl.cv > dt.what + dd {
  grid-column: 1/3;
  font-weight: bold;
}

.note > dl.cv > dt.comment + dd {
  grid-column: 1/3;
  font-size: smaller;
}

.note > .tag.cv {
  font-variant: small-caps;
}

.note > .content.cv {
  display: grid;
  grid-template-columns: 1em 1fr;
  row-gap: 0;
  column-gap: 1ex;
  margin: 0;
}

.note > .content.cv > dd {
  margin: 0;
}

.note > .content.cv > h3 {
  display: none;
}

.note > dl.cv > dt.cv {
  display: none;
}

.note > dl.cv > dt + dt {
  text-align: end;
}

.note > dl.cv > dt > .lucide {
  width: 1.1cap;
  height: 1.1cap;
}

.note > .tag.exposition > h3 {
  display: none;
}

.note > .menu > .search > input {
  opacity: 0.5;
  height: 1rlh;
}

.note > .menu > .search > label {
  position: absolute;
  left: 0.5ex;
}

.note > .menu {
  position: sticky;
  bottom: 0;
  background-color: silver;
  margin-top: -1lh;
  margin-bottom: 0;
  transition: max-height linear 0.5s;
  max-height: 2lh;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.note > .tag.menu {
  grid-area: tagMenu;
}

.note > .content.menu {
  grid-area: contentMenu;
}

@media (prefers-color-scheme: dark) {
  .note > .menu {
    background-color: dimgrey;
  }
}
.note > .tag {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
}

.note > .tag * {
  margin: 0;
}

.note > .tag.body > h3 {
  font-size: medium;
}

.note > .tag > .attribution {
  font-variant: small-caps;
  font-size: 80%;
}

.note > .tag .lucide {
  width: 1.1cap;
  height: 1.1cap;
  position: relative;
  bottom: -0.05cap;
}

.note > .content > :first-child {
  margin-top: 0;
}

.note > .content > :last-child {
  margin-bottom: 0;
}

.note > .content .attribution {
  display: none;
}

.note > .content .attribution::before {
  content: "(";
}

.note > .content .attribution::after {
  content: ")";
}

.note > .content {
  overflow-x: auto;
}

.note > .content figure {
  overflow-x: auto;
}

.note > .content table:not(.ltx_eqn_table) tr:first-of-type > td {
  border-bottom: 0.2em solid grey;
}

.note > .content table:not(.ltx_eqn_table) {
  border-collapse: collapse;
}

.note > .content table:not(.ltx_eqn_table) td {
  vertical-align: top;
  text-align: left;
  padding: 0 0.5em;
}

.note > .content figure {
  margin-right: 0;
}

.note > .content figure:has(> .ltx_eqn_table) {
  margin: 0;
}

.note > .divider {
  background: linear-gradient(to right, transparent 40%, grey 40% 60%, transparent 60%);
  grid-area: divider;
}

.note > .divider.menu {
  background: linear-gradient(to right, silver 40%, grey 40% 60%, silver 60%);
  grid-area: dividerMenu;
}

@media (prefers-color-scheme: dark) {
  .note > .divider.menu {
    background: linear-gradient(to right, dimgrey 40%, grey 40% 60%, dimgrey 60%);
  }
}
.note {
  gap: 1lh 0;
  min-height: 100vh;
  max-width: 80em;
  display: grid;
}

/*.note * > p:first-of-type {
	margin-top: 0;
}

.note * > p:last-of-type {
	margin-bottom: 0;
}*/
a {
  color: black;
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;
  }
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Computer Modern", sans-serif;
}

* {
  line-height: 1.4em;
}

@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/*# sourceMappingURL=main.css.map */
